/* ul
        {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #666;
        position: fixed;
        top: 0;
        width: 100%;
        }

        li
        {
        float: left;
        border-right: 1px solid #bbb;
        }

        li a
        {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }

    
        li a:hover
        {
        background-color: #111;
        }

        .active
        {
        background-color: #4CAF50;
        } */

/* .login-page
        {
        display: block;        
        margin-left: 100px;  
        } */
/* .Email-field
        {
            margin: auto;
        } */
.container
{
        margin: auto;        
}
.log-in
{
        margin: auto;
        width: 10%;
}
.Email-field
{
        margin: auto;
        width: 21%;
}
.Password-field
{
        margin: auto;
        width: 21%;
}
.Login-button
{
        margin: auto;
        width: 10%;
}