/* fieldset
    {
      background-color: rgb(245, 252, 152);
    }

    ul
	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666;
	position: fixed;
	top: 0;
	width: 100%;
	}

	li
	{
	float: left;
	border-right: 1px solid #bbb;
	}

	li a
	{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}

	
	li a:hover
	{
	background-color: #111;
	}

	.active
	{
	background-color: #4CAF50;
	} */
  
	/* .bgimage
	{
		background:  url("{% static 'images/bgimage.jpg'%}") ;
		background-position: top;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 1800px 900px;
		width: 100px;
	} */

/* body
	{
		background-image: url("{%static 'images/bgimage.jpg'%}");
	} */

