<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD YOUR PRODUCT HERE</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous">

</head>
<body>
    <center>
        <h1>Add your product here</h1>
        <br><br>
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            Product name: <input type="text" name="proname">
            <br><br>
            Product price: <input type="number" name="proprice">
            <br><br>
            Product description: <input type="text" name="prodes">
            <br><br>
            Product image: <input type="file" name="proimg">
            <br><br>
            <input type="submit" value="ADD PRODUCT">
        </form>
    </center>
</body>
</html>